.board {
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 10px auto;
    width: 36vw;
    height: 36vw;

    @include mq-until(tablet-sm) {
        height: 50vw;
        width: 50vw;
        margin-top: 50px;
    }

    @include mq-until(mobile-md) {
        height: 60vw;
        width: 60vw;
    }

    @include mq-until(mobile) {
        background-size: 90%;
    }

    &__select {
        background-color: #fff;
        cursor: pointer;
        position: absolute;
        border-radius: 50%;
        width: 40%;
        height: 40%;

        @include mq-until(mobile) {
            height: 90px;
            width: 90px;
            margin-top: 0px;
        }

        &#paper {
            top: 15px;
            left: 15px;
            border: 20px solid #5472f4;
            box-shadow: 0px 4px 0px 0px #2f44a6;

            @include mq-until(tablet) {
                top: 0;
                left: 0;
            }

            @include mq-until(mobile-md) {
                border: 10px solid #5472f4;
            }
        }

        &#scissors {
            top: 15px;
            right: 15px;
            border: 20px solid #eca823;
            box-shadow: 0px 4px 0px 0px #c96b1a;

            @include mq-until(tablet) {
                top: 0;
                right: 0;
            }

            @include mq-until(mobile-md) {
                border: 10px solid #eca823;
            }
        }

        &#rock {
            bottom: 55px;
            left: 50%;
            transform: translateX(-50%);
            border: 20px solid #dd3c5d;
            box-shadow: 0px 4px 0px 0px #9f1635;

            @include mq-until(tablet) {
                bottom: 20px;
            }

            @include mq-until(mobile-md) {
                border: 10px solid #dd3c5d;
            }

            @include mq-until(mobile) {
                height: 90px;
                width: 90px;
                transform: translateX(-50%);
            }
        }

        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.5);

            @include mq-until(tablet) {
                transform: translate(-50%, -50%) scale(1);
            }

            @include mq-until(mobile) {
                transform: translate(-50%, -50%) scale(0.6);
            }
        }
    }
}
